.img{
    background-image: url("../picture/PC_result2.png");
    background-size: 550px;
    background-repeat: no-repeat;
    top: 100px;
    position: relative;
}

ul {
    list-style: none;
}

body{
    /*background-color: #7890d6;*/
    background-color: #f7f9fd;
}

.form-color{
    background-color: #ffffff;
}

.form-background{
    padding-top: 100px;
}

.regist{
    height: 70px;
}

.form-content{
    height: 320px;
}

.center{
    text-align: center;
}

.item{
    left: 9%;
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
}

.submit{
    padding-top: 7px;
    text-align: center;
    position: relative;
}

input{
    height: 40px;
}

.height{
    height: 30px;
}

form{
    padding-top: 30px;
}

.none{
    display: none;
}

.title{
    font-family: 'Satisfy', cursive;
}

.regist-p{
    top: 20px;
    position: relative;
}

/*.imges{
    top: -555px;
    left: 410px;
    position: relative;
}*/

img{
    zoom: 90%;
    top: 97px;
    left: 332px;
    position: absolute;
}

.slide {
    position: relative;
}
