{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>article</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'picture/favicon.png' %}">
</head>
<body>
    <h1>記事一覧</h1>
    <p>あなたのユーザ名:{{user.username}} ユーザID:{{user.id}}</p>
    <a href="{% url 'make_article' prj_id %}">記事を作成</a>
    <a href="{% url 'top' %}">プロジェクト一覧に戻る</a>
    <a href="{% url 'invite_project' prj_id %}">プロジェクトに招待</a>
    <table>
    {% for article in articles %}
        <tr>
            <td><a href="{% url 'article' prj_id article.id %}">{{article.title}}</a></td>
            <td>{{article.update_at}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>