{% load static %}
<!DOCTYPE html>
<!-- chat/templates/chat/edit_project.html -->
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit_delete_project</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'picture/favicon.png' %}">
</head>
<body>
    <h2>プロジェクト名編集、削除</h2>
    <p>あなたのユーザ名:{{user.username}} ユーザID:{{user.id}}</p>
    <a href="{% url 'top' %}">プロジェクト一覧に戻る</a>
    <form action="{% url 'edit_project' prj_id %}" method="POST" name="form">
        {% csrf_token %}
        <div>
            <label>プロジェクト名</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>編集</label>
            <input type="radio" value="edit" name="which">
            <label>削除</label>
            <input type="radio" value="delete" name="which">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>