{% load static %}
<!DOCTYPE html>
<!-- chat/templates/chat/index.html -->
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'picture/favicon.png' %}">
</head>
<body>
    <a href="{% url 'make_project' %}">プロジェクト新規作成</a>
    <table>
        {% for Pro_data in Project_data %}
        {% if Pro_data.on_public %}
        <tr>
            <td><a href="{% url 'project' Pro_data.id %}">{{ Pro_data.name }}</a></td>
            <td>{{ Pro_data.created_at }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>
</html>