{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Invite_prj</title>
    <script src="{% static 'js/account.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/hinagata.css' %}">
    <link rel="stylesheet" href="{% static 'css/invite_article.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;900&family=Shippori+Mincho&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="{% static 'picture/favicon.png' %}">
</head>
<body class="background">
    <header>
        <ul>
            <li><a href="{% url 'top' %}"><img src="{% static 'picture/favicon.png' %}" class="fav-img"></a><li>
            <li><h1 class="display-4 components title-article">INIArticles</h1></li>
        </ul>
        <div class="position-absolute top-0 end-0">
            <div class="account">
                <svg xmlns="http://www.w3.org/2000/svg" height="72px" viewBox="0 0 24 24" width="72px" fill="#e9ecf1" id="target"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z"/></svg>
            </div>
        </div>
        <div class="line"></div>
        <h2 class="position-absolute components titles-font bar-1">記事にユーザを招待する</h2>
        <div class="white-border modoru">
            <a href="{% url 'article' prj article %}" class="a_button migi position-absolute">記事編集画面に戻る</a>
        </div>    
        <div class="d-none" id="user-info">
            <p class="components-black user-info-font">ユーザ名: {{user.username}}</p>
            <p class="components-black user-info-font">ユーザID: {{user.id}}　</p>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <form action="{% url 'invite_article' prj article %}" method="POST" name="form">
                {% csrf_token %}
                <input type="hidden" value="{{article}}" name="article">
                <div class="row">
                    <div class="col-8">
                        <label for="u" class="col-form-label mintyo">ユーザを招待(id名で書き、複数書く場合は1,2,3と書く)</label>
                        <div class="form-group">
                            <input id="u" type="text" name="invite_users" required class="form-control w-100">
                        </div>
                        
                    </div>
                    <div class="col-4 submit">
                        <input type="submit" value="招待" class="btn btn-success w-50">
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>