{% load static %}
<!DOCTYPE html>
<!-- chat/templates/chat/newproject.html -->
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newproject</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'picture/favicon.png' %}">
</head>
<body>
    <h2>プロジェクト新規作成ページ</h2>
    <p>あなたのユーザ名:{{user.username}} ユーザID:{{user.id}}</p>
    <a href="{% url 'top' %}">プロジェクト一覧に戻る</a>
    <form action="{% url 'make_project' %}" method="POST" name="form">
        {% csrf_token %}
        <div>
            <label>新規プロジェクト名</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>新規プロジェクトを一覧ページに追加する</label>
            <input type="checkbox" name="on_public" value="False">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>