<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>結果</h1>
    {% if results %}
        {% for result in results %}
            <a href="{% url 'project' result.id %}">{{result.name}}</a> {{result.created_at}}
        {% endfor %}
    {% endif %}
    <a href="{% url 'top' %}">プロジェクト一覧に戻る</a>
</body>
</html>