{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="{% static 'picture/favicon.png' %}">
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Noto+Serif+JP:wght@300;900&family=Shippori+Mincho&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
{% block content %}
{% load static %}
<body class="container body">
        <div class="form"></div>
        <div class="form-color shadow rounded form-content">
            <div class="height"></div>
            <h1 class="center title">INIArticles</h1>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <ul>
                {% for item in form %}
                    <div class="item">
                        <li><input type="{{item.field.widget.input_type}}" placeholder="{{item.label}}" name="{{item.name}}" class="w-75 form-control" required></li>
                    </div>
                {% endfor %}
                </ul>
                <div class="submit">
                    <input type="submit" value="登録する" class="btn btn-success w-75">
                </div>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <p class="center">{{ error }}</p>
                {% endfor %}
                {% endfor %}
                {% endif %}
            </form>
            {% endblock %}
        </div>
</body>
</html>